@page "/paginaPrincipal"
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject IHttpContextAccessor HttpContextAccessor

<div class="main-bg">
    <h3 class="text-center text-black p-4">PaginaPrincipal</h3>
    
    <ListadoMedicos Medicos="medicos" />
</div>




@code {
    IEnumerable<Medico> medicos = new List<Medico>();


    private string nombre { get; set; }

    protected override  Task OnInitializedAsync()
    {

        /*@if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("User")))
        {
            navigationManager.NavigateTo("Index");
        }
        else
        {
            medicos = await repositorio.GetMedicos();
        }*/
        return Task.CompletedTask;

    }
        

    
}
